* {
  margin: 0;
  padding: 0;
  transition: 0.1s; }

header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1.5em;
  font-size: 26px;
  font-weight: 700;
}

footer {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1em 3em;
  font-size: 12;


}

body {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  color: #303030; }

.container {
  max-width:1000px;
  margin: 0 auto;
}

.nav {
  background-color: #303030;
  color: #EFEFEF; }
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav .container object {
      width: 4.5em;
      padding: 1.2em 0.5em; }
    .nav .container .weeks {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 1em 1.5em;
      color: #ff4c4c;    }
    .nav .container .menu-button-1 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 1em 1.5em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer; }



.nav-menu-1, .nav-menu-3, .nav-menu-5, .nav-menu-7, .nav-menu-9, .nav-menu-11,
.nav-menu-13, .nav-menu-15, .nav-menu-17, .nav-menu-19, .nav-menu-21,
.nav-menu-23, .nav-menu-25, .nav-menu-27, .nav-menu-29, .nav-menu-31, .nav-menu-33,
.nav-menu-35, .nav-menu-37, .nav-menu-39, .nav-menu-41, .nav-menu-43, .nav-menu-45,
.nav-menu-47, .nav-menu-49, .nav-menu-51, .nav-menu-53, .nav-menu-55, .nav-menu-57,
.nav-menu-59, .nav-menu-61, .nav-menu-63, .nav-menu-65, .nav-menu-67, .nav-menu-69 {
        cursor: pointer;
        background-color: #535353;
        color: #EFEFEF;
        display: flex;
        justify-content: center; }
        .nav-menu .container {
          padding: 1em;
          display: flex; }
          .nav-menu .container ul {
              list-style: none; }
            .nav-menu .container ul li {
              padding: 0.25em 2em;
              border-bottom: 1px;
              border-color: black }
              .nav-menu .container ul li:first-child {
                text-transform: uppercase;
                color: #00FF7F;
                letter-spacing: 0.05em;}


.nav-menu-2, .nav-menu-4, .nav-menu-6, .nav-menu-8, .nav-menu-10, .nav-menu-12,
.nav-menu-14, .nav-menu-16, .nav-menu-18, .nav-menu-20, .nav-menu-22, .nav-menu-24,
.nav-menu-26, .nav-menu-28, .nav-menu-30, .nav-menu-32, .nav-menu-34, .nav-menu-36,
.nav-menu-38, .nav-menu-40, .nav-menu-42, .nav-menu-44, .nav-menu-46, .nav-menu-48,
.nav-menu-50, .nav-menu-52, .nav-menu-54, .nav-menu-56, .nav-menu-58, .nav-menu-60,
.nav-menu-62, .nav-menu-64, .nav-menu-66, .nav-menu-68, .nav-menu-70 {
                  cursor: pointer;
                  background-color: #696969;
                  color: #EFEFEF;
                  display: flex;
                  justify-content: center; }
                  .nav-menu .container {
                    padding: 1em;
                    display: flex; }
                    .nav-menu .container ul {
                      list-style: none; }
                      .nav-menu .container ul li {
                        padding: 0.25em 2em;  }
                      .nav-menu .container ul li:first-child {
                          text-transform: uppercase;
                          color: #00FF7F;
                          letter-spacing: 0.05em;}
