* {
  margin: 0;
  padding: 0;
  transition: 0.1s; }

header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1.5em;
  font-size: 26px;
  font-weight: 700;
}

footer {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1em 3em;
  font-size: 12;
}

.hidden {
  display: none !important;
}

body {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-align: left;
  font-size: 14px;
  max-width: 100%;
  color: #303030; }

.container {
  max-width:1000px;
  margin: 0 auto;
}

.nav {
  background-color: #303030;
  color: #EFEFEF; }
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav .container object {
      width: 4.5em;
      padding: 1.2em 0.5em; }
    .nav .container .weeks-1,
    .nav .container .weeks-2,
    .nav .container .weeks-3,
    .nav .container .weeks-4,
    .nav .container .weeks-5,
    .nav .container .weeks-6,
    .nav .container .weeks-7,
    .nav .container .weeks-8,
    .nav .container .weeks-9,
    .nav .container .weeks-10 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 1em 1.5em;
      color: #ff4c4c;
      cursor: pointer;}
    .nav .container .menu-button-1 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 1em 1.5em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer; }



.nav-menu {
        cursor: pointer;
        background-color: #696969;
        color: #EFEFEF;
        display: flex;
        justify-content: center; }
        .nav-menu .container {
          padding: 1em;
          display: flex; }
          .nav-menu .container ul {
              list-style: none; }
            .nav-menu .container ul li {
              padding: 0.25em 2em;
              border-bottom: 1px;
              border-color: black }
              .nav-menu .container ul li:first-child {
                text-transform: uppercase;
                color: #00FF7F;
                letter-spacing: 0.05em;}


.odd {
    background-color: #535353;
  }
